{% extends 'base.html.twig' %}

{% block title %}Hello CreationController!{% endblock %}
{% block body %}

    <form action="" method="post">
        Title : <input type="text" name="title" placeholder="Title" /><br/>
        Content : <textarea name="content"></textarea><br/>
        Price : <input type="number" name="price" placeholder="0"><br/>
        <input type="submit" value="Submit" /><br/>
    </form>

{% endblock %}
